{% extends "base.html" %}

{% block head %}
<script>
    const searchPerson = () => {
        const searchInputValue = document.getElementById("person_search").value;
        window.location.href = `/pages/search_person/${searchInputValue}`;
    }
</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        <input id="person_search" type="text" placeholder="ИФ" class="text-xl">
        <button onclick="searchPerson()" class="border-2 rounded-3xl bg-gray-300 p-3">Поиск</button>
    </div>
    <span>Например, Вадимир Ким</span>
    <div class="flex rounded-3 border-2 p-3 mt-5">
        <div class="flex flex-col">
            <span class="text-2xl font-bold">{{ person.name }}</span>
            <span class="text-lg">{{ person.description }}</span>
            <img width="250" src="{{ url_for('static', path=person.photo)}}">  
        </div>
    </div>
</div>
{% endblock %}